 *{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 @font-face  {
      font-family: opensans;
      font-weight: normal;
      font-style: normal;
      src: url("../fonts/OpenSans-Regular.ttf");
 }

.container-fluid{
    width: 100%;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 body {
    font-family: "opensans", Arial, Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
 }

 header > .conteiner {
     padding: 40px 20px;
 }

 header .burgericon{
    width: 40px;
    display: none;
    margin: 0!important;
 }

 header .container .menu a {
      font-size: 1.125em;
      text-decoration: none;
      color: rgba(118, 118, 118, 1);
      margin: 0 20px;
 }

 header .container .menu a:hover,
 header .container .menu a.active{
    color: rgba(21, 91, 10, 1);
    font-weight: 600;
    padding-bottom: 7px;
    border-bottom: 3px solid rgba(21, 91, 10, 1);
 }

 header form div{
    justify-content: center;
    padding: 10px 20px;
    border: 3px solid rgba(21, 91, 10, 1);
    border-radius: 50px;
 }

 header form div input[type='text']{
    border: none;
    margin-right: 10px;
 }

 header form div input[type='submit']{
    background: url("../Images/main/Поиск.png") no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
 }

 header form div input[type='submit']:hover{
    cursor: pointer;
 }

footer{
    background-color: rgba(51, 52, 52, 1);
    padding-top: 30px;
    padding-bottom: 10px;
}
footer .left figure figcaption {
    color: rgba(255, 255, 255, 1);
    font-size: 0.875em;
    margin-top: 10px;
}
footer .left nav a{
    font-size: 0.875em;
    color: rgba(255, 255, 255, 1);
    margin: 0 10px;
    margin-left: 0;
    text-decoration: none;
}
footer .left nav {
    margin-bottom: 20px;
}
footer .left nav a:hover, footer .left nav a.active{
    color: rgba(15, 107, 0, 1);
}
footer .right .box{
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 16px 16px 0;
}
footer .right .mail{
    background: url('../Images/main/Vector.png') no-repeat;
    background-size: cover;
}
footer .right .facebook{
    background: url('../Images/main/собака.png') no-repeat;
    background-size: cover;
}
footer .right .twitter{
    background: url('../Images/main/Аол.png') no-repeat;
    background-size: cover;
}
footer .copyrights{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 0.750em;
    margin-top: 20px;
}
